<div class="grid-post">
    <div class="flex-container-vertical">
        <div class="center"><img class="img-size-auto" src="/{{currentPost.photopath}}"
                alt="This is a placeholder image." /></div>
    </div>
    <div id="comments-container">
        <div id="post-info">
            <h2 class="margin-5px" id="post-info-title">{{currentPost.title}}</h2>
            <h3 class="margin-5px">Posted by: {{currentPost.username}}:</h3>
            <h4 class="margin-5px">Created: {{currentPost.created}}</h4>
            <h4 class="margin-5px">Description: {{currentPost.description}}</h4>
        </div>
        <h2 id="post-comments-title">Comments</h2>
        <div id="post-comments">
            <div id="comments-display">
                {{#each currentPost.comments}}
                {{> comment this}}
                {{/each}}
            </div>
        </div>
        <div id="input-comment-container">
            <input id="input-comment" type="text" placeholder="Comment">
            <button id="submitbutton" type="submit">Post</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });
</script>